<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/loginpage.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <title>Welcome the Reward cycle</title>
</head>
<body>
    <br>
    <%-include('./particles/navbar.ejs')%>
    <br>
    <br>


    <%-include('./particles/form.ejs')%>
    <br>
    <br>
    
    <script src="js/loginpage.js"></script>
</body>
</html>