<div class="login-reg-panel">
    <div class="login-info-box">
        <h2>Have an account?</h2>
        <p>Click the button</p>
        <label id="label-register" for="log-reg-show">Login</label>
        <input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
    </div>
                        
    <div class="register-info-box">
        <h2>Don't have an account?</h2>
        <p>Click the button</p>
        <label id="label-login" for="log-login-show">Register</label>
        <input type="radio" name="active-log-panel" id="log-login-show">
    </div>
                        
    <div class="white-panel">
        <form action="/login" method="post">
            <div class="login-show">
                <h2>LOGIN</h2>
                <input type="email" name="email" placeholder="Email">
				<input type="password" name="password" placeholder="Password">
				<input type="submit"  value="Login">
                <p class="forget"><a href="/forgotpassword">Forgot password?</a></p>
            </div>
        </form>
       
        <form action="/register" method="post">
            <div class="register-show">
                <h2>REGISTER</h2>
                <input type="email" name ="email" placeholder="Email">
                <input type="password" name ="password" placeholder="Password">
                <input type="submit" value="Register">
            </div>
        </form>
        
    </div>
</div>

   