<div class = "nav-bar">
    <div class = "navbar-header">
      <ul>
        <a href = "/" class = "app-name">RewardCycle</a>
        <!--<li><a href="/"><div>Home</div></a></li>
        <li><a href="/stages"><div>Stages</div></a></li>
        <li><a href="/lineup"><div>Line-up</div></a></li>
        <li><a href="/about"><div>About us</div></a></li>
        <li><a href="/contact"><div>Contact</div></a></li>
        <li><a href="/faq"><div>FAQ</div></a></li>-->
      </ul>
    </div>
</div>

 <!--<div class="container purple topBotomBordersIn">
    <a href = "/" class = "app-name">NFT</a>
    <a href="/">HOME</a>
    <a href="/">ARTICLES</a>
    <a href="/">PORTFOLIO</a>
    <a href="/">ABOUT</a>
    <a href="/">CONTACT</a>
  </div>--> 